@import "tailwindcss";

@layer base {
  :root {
    --font-space: 'Space Grotesk', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
  }

  body {
    font-family: var(--font-inter);
    background-color: #101417;
    color: #e0e3e7;
    overflow-x: hidden;
  }

  h1, h2, h3, h4, .font-display {
    font-family: var(--font-space);
  }

  .font-mono, .tabular-nums, code, pre {
    font-family: var(--font-mono);
  }
}

/* Custom Tactical Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0b0f12;
}
::-webkit-scrollbar-thumb {
  background: #262a2e;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}

/* Reticle scanline animations */
@keyframes scanline {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(1000%); }
}

.animate-scanline {
  animation: scanline 8s linear infinite;
}

